.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  color: white;
  border-radius: 0 0 10px 10px;
}

h1{
  margin:0; 
  padding: 30px;
}

.searchSection{
  display: flex;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  padding:20px;
  margin-top: 20px;
}
.searchSection input{
  border: 3px solid #282c34;
  border-radius: 5px;
  height:25px;
  width: 170px;
  padding: 3px;
}
.searchSection button{
  background-color: #282c34;
  border: 3px solid #282c34;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.searchSection button:hover{
  background-color: white;
  color: #282c34;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.listSection{
  margin-top: 35px;
  list-style-type: none;
}
.listSection li{
  margin-top: 35px;
}



